<link href="css/styleHome.css" rel="stylesheet">
<ion-view title="Accueil" onscroll="true">
  <ion-header-bar class="bar-dark" align-title="left">
    <h1 class="title">Bienvenue</h1>
  </ion-header-bar>

  <ion-content padding="true" class="back">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">

          <div class="col col-50">
            <div class="dashboard-div-wrapper bk-clr-one">
              <i class="ion-university dashboard-div-icon"></i>
              <hr>
              <a href="#/education"><h4>EDUCATION</h4></a>
            </div>
          </div>

          <div class="col col-50">
            <div class="dashboard-div-wrapper bk-clr-two">
              <i class="ion-ios-medical dashboard-div-icon"></i>
              <hr>
              <a href="#/medical"><h4>MEDICAL</h4></a>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col col-50">
            <div class="dashboard-div-wrapper bk-clr-three">
              <i class="ion-medkit dashboard-div-icon"></i>
              <hr>
              <a href="#/mutuelle"><h4>MUTUELLE</h4></a>
            </div>
          </div>

          <div class="col col-50">
            <div class="dashboard-div-wrapper bk-clr-four">
              <i class="ion-cash dashboard-div-icon"></i>
              <hr>
              <a href="#/connexion"><h4>FINANCE</h4></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
