<ion-view title="liste des établissements" onscroll="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" class="back">
    <ion-list>
      <ion-item>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="input.filterEcole" placeholder="Rechercher">
        </label>
      </ion-item>

      <ion-item ng-repeat="ecole in Ecoles | filter:input.filterEcole" ng-click="pageConnexion(ecole.nom)">
        {{ecole.nom}}
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
