<ion-view title="Connexion">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" class="back">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h1 style="color:darkslategrey;font-weight:600;text-align:center;" class=" ">Authentification</h1>
    <div class="spacer" style="width: 300px; height: 26px;"></div>

    <form class="list" name="form" novalidate>

      <label class="item item-input "  name="Login">
        <span class="input-label">Login</span>
        <input type="text" placeholder="votre login" name="login" ng-model="tiers.code" required>
      </label>
      <p ng-show="form.login.$invalid && !form.login.$pristine">Ce champ est obligatoire</p>
      <label class="item item-input " name="password">
        <span class="input-label">Mot de passe</span>
        <input type="password" placeholder="votre mot de passe" name="password" ng-model="tiers.CodeSecurite" required>
      </label>
      <p ng-show="form.password.$invalid && !form.password.$pristine">Ce champ est obligatoire</p>
    </form>
    <a style="border-radius:7px 7px 7px 7px;" class=" button button-dark  button-block icon-left ion-log-in " ng-click="verifier(tiers)" ng-disabled="form.$invalid" >Connexion</a>
    <a style="border-radius:7px 7px 7px 7px;" class=" button button-royal  button-block icon-left ion-log-in " ng-click="sinscrire()">S'inscrire</a>
  </ion-content>
</ion-view>
