


.back {

  background:#eeeeee;

}

.large{  

 	width: 300px; 

 	font-size: 14px;

 	background: yellow;

 }

.box{

	width:100%;

	background-color: rgb(250, 255, 189);

	height: 34px;
}

.centre{
	text-align: center;
	margin-top: 20px;
}

.couleur{
	
	background-color: blue;
}
