
<ion-view title="Creer un compte">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" class="back">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h1 style="color:darkslategrey;font-weight:600;text-align:center;" class=" ">Formulaire</h1>
    <div class="spacer" style="width: 300px; height: 26px;"></div>

    <form class="list" name="form" novalidate>
    <label class="item item-input "  name="Login">
    <span class="input-label">Date</span>
    <input type="date" id="datepicker">
    </label>
    <label class="item item-input "  name="Login">
    <span class="input-label">Numeros de compte</span>
    <input type="text" placeholder="votre login" name="login" ng-model="infos.code"  required>
    </label>
    <p ng-show="form.login.$invalid && !form.login.$pristine">Ce champ est obligatoire</p>

    <label class="item item-input " name="password">
    <span class="input-label">Nom</span>
    <input type="password" placeholder="votre nom" name="password" ng-model="infos.nom" required>
    </label>
    <p ng-show="form.password.$invalid && !form.password.$pristine">Ce champ est obligatoire</p>

    <label class="item item-input "  name="Tel">
    <span class="input-label">Téléphone</span>
    <input type="number" maxlength="9" minlength="9" placeholder="votre numero de téléphone" name="tel" ng-model="infos.tel" required>
    </label>
    <p ng-show="form.tel.$invalid && !form.tel.$pristine">Ce champ est obligatoire</p> 
    </form>
    <a style="border-radius:7px 7px 7px 7px;" class=" button button-dark  button-block icon-left ion-log-in "ng-disabled="form.$invalid" ng-click="creercompte(infos)">Valider</a>
    <a style="border-radius:7px 7px 7px 7px;" class=" button button-royal  button-block icon-left ion-log-in " ng-click="annuler()">Annuler</a>
  </ion-content>
</ion-view>
